<div class="p-grid dashboard">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid card p-nogutter overview-box overview-box-1">
            <div class="p-col-4 overview-box-icon">
                <img src="../../../../assets/layout/images/icon-paper.png">
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">{{currentNumberOfSales}}</span>
                <span class="overview-box-name">{{'label.yeni.satis' | translate}}</span>
                <span class="overview-box-rate">+0%</span>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid card p-nogutter overview-box overview-box-3">
            <div class="p-col-4 overview-box-icon">
                <img src="../../../../assets/layout/images/icon-location.png">
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">{{currentAmountOfSales | paraFormat}} TL</span>
                <span class="overview-box-name">{{'label.guncel.ciro.gun' | translate}}</span>
                <span class="overview-box-rate">0%</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid card p-nogutter overview-box overview-box-4">
            <div class="p-col-4 overview-box-icon">
                <img src="../../../../assets/layout/images/icon-orders.png">
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">{{monthlyNumberOfSales}}</span>
                <span class="overview-box-name">{{'label.toplam.satis' | translate}}</span>
                <span class="overview-box-rate">+0%</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="p-grid card p-nogutter overview-box overview-box-2">
            <div class="p-col-4 overview-box-icon">
                <img src="../../../../assets/layout/images/icon-mail.png">
            </div>
            <div class="p-col-8">
                <span class="overview-box-count">{{monthlyAmountOfSales | paraFormat}} TL</span>
                <span class="overview-box-name">{{'label.guncel.ciro.ay' | translate}}</span>
                <span class="overview-box-rate">+0%</span>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4 p-fluid activity-feed">
        <div class="card">
            <h5>{{'label.aylik.aktivite' | translate}}</h5>
            <div class="p-grid">
                <div class="p-col-12 p-md-4" *ngFor="let pd of personelCiroDagilim">
                    <span> {{pd.nameSurname ? pd.nameSurname : 'Diğer'}} </span>
                    <div class="knob tax"> {{pd.tutar | paraFormat}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4 p-fluid activity-feed">
        <div class="card">
            <h5>{{'label.yillik.aktivite' | translate}}</h5>
            <div class="p-grid">
                <div class="p-col-12 p-md-12">
                    <p-chart type="bar" [data]="donemCiroDagilim"></p-chart>
                </div>
                <div class="p-col-12 p-md-12">
                    <p-panel header="{{'label.ozet' | translate}}">
                        <div class="p-grid ">
                            <div class="p-col-12 p-md-3">
                                <strong>    {{'label.toplam.ciro' | translate}}:  </strong>
                            </div>
                            <div class="p-col-12 p-md-3">
                                <span class="overview-box-rate"> {{yearlyAmountOfSales | paraFormat}}</span>
                            </div>
                            <div class="p-col-12 p-md-3">
                                 ({{'label.kdv.dahil' | translate}})
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <div class="card timeline p-fluid">
            <h5>{{'label.siparis' | translate}}</h5>
            <div class="p-grid" *ngFor="let sp of siparisList">
                <div class="p-col-3">
                    <span class="event-time">{{sp.islemTarihi | dateFormat}}</span>
                    <i class="pi pi-shopping-cart" style="color:#985edb"></i>
                </div>
                <div class="p-col-9">
                    <span class="event-owner" style="color:#985edb">{{sp.cariKodu}} - {{sp.cariAdi}}</span>
                    <span class="event-text"><strong> {{'label.stok.kodu' | translate}}
                        : </strong> {{sp.malKodu}} </span>
                    <span class="event-text"><strong> {{'label.urun.adi' | translate}}: </strong> {{sp.urunAdi}} </span>
                    <span class="event-owner"><strong> {{'label.miktar' | translate}}: </strong> {{sp.teslimMiktari}}
                        / {{sp.miktar}} </span>
                </div>
            </div>
            <div class="p-col-12">
                <p-paginator [rows]="5" [totalRecords]="totalSiparis" (onPageChange)="onPageChange($event)"></p-paginator>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-4 contacts">
        <div class="card">
            <h5>{{'label.iletisim' | translate}}</h5>
            <ul>
                <li class="clearfix" *ngFor="let us of userList">
                    <img src="../../../../assets/layout/images/avatar_man.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">{{us.nameSurname}}</span>
                        <span class="location">{{us.email}}</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <a href="mailto: {{us.email}}"> <i class="pi pi-envelope"></i></a>.
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4 p-fluid contact-form">
        <div class="card">
            <h5>{{'label.bize.sorun' | translate}}</h5>
            <div class="p-grid">
                <div class="p-col-12">
                    <p-dropdown [options]="talepTipis" [(ngModel)]="selectedTalepTipi"></p-dropdown>
                </div>
                <div class="p-col-12">
                    <input type="text" pInputText placeholder="{{'label.ad' | translate}}">
                </div>
                <div class="p-col-12">
                    <input type="text" pInputText placeholder="{{'label.email' | translate}}">
                </div>
                <div class="p-col-12">
                    <input type="text" pInputText placeholder="{{'label.konu' | translate}}">
                </div>
                <div class="p-col-12">
                    <textarea rows="4" type="text" pInputTextarea
                              placeholder="{{'label.mesaj' | translate}}"></textarea>
                </div>
                <div class="p-col-12">
                    <button type="button" label="Send" icon="fa fa-send" pButton></button>
                </div>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-4">
        <div class="card">
            <p-fullCalendar [options]="fullcalendarOptions"></p-fullCalendar>
        </div>
    </div>
</div>
