<div class="topbar">
    <div class="topbar-main">
        <a href="#" id="menu-button" (click)="app.onMenuButtonClick($event)">
            <span class="pi pi-bars"></span>
        </a>

        <a href="/">
            <img alt="main logo" src="../assets/layout/images/logo-main.png" class="logo">
        </a>

        <div class="app-name">
            <a href="/">  {{'label.app.name' | translate}} </a>
        </div>

        <a href="#" id="user-display" (click)="app.onTopbarMenuButtonClick($event)">
            <span class="username">{{appStore.user.name}} {{appStore.user.surname}}</span>
            <span class="userrole">İşlemler / Ayarlar</span>
            <img alt="main logo" src="assets/layout/images/avatar_man.png">
        </a>

        <app-company style="float: right;padding-right: 5px; padding-top: 2px; margin-top: 10px;"></app-company>

        <ul id="topbar-menu" class="fadeInDown animated" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}">
            <li #profile [ngClass]="{'menuitem-active':app.activeTopbarItem === profile}">
                <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                    <i class="topbar-icon pi pi-fw pi-user"></i>
                    <span class="topbar-item-name">{{'label.profile.menu' | translate}}</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" [routerLink]="['/profile']">
                            <i class="pi pi-fw pi-user"></i>
                            <span>{{'label.profile' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-lock"></i>
                            <span>{{'label.abonelik.durumu' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="onChangePaswordShow()">
                            <i class="pi pi-fw pi-lock"></i>
                            <span>{{'label.change.password' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="signOut()">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span>{{'label.logout' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #settings [ngClass]="{'menuitem-active':app.activeTopbarItem === settings}">
                <a href="#" (click)="app.onTopbarItemClick($event, settings)">
                    <i class="topbar-icon pi pi-fw pi-cog"></i>
                    <span class="topbar-item-name">{{'label.settings' | translate}}</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" [routerLink]="'/marketPlace'">
                            <i class="pi pi-fw pi-palette"></i>
                            <span>{{'menu.pazaryeri.conf' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-star"></i>
                            <span>{{'menu.company.conf' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" [routerLink]="'/pages/help'">
                            <i class="pi pi-fw pi-question-circle"></i>
                            <span>{{'menu.help' | translate}}</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-image"></i>
                            <span>{{'menu.whatis.new' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #messages [ngClass]="{'menuitem-active':app.activeTopbarItem === messages}">
                <a href="#" (click)="app.onTopbarItemClick($event, messages)">
                    <i class="topbar-icon material-icons animated swing pi pi-fw pi-envelope"></i>
                    <span class="topbar-item-name">{{'label.messages' | translate}}</span>
                    <span class="topbar-badge animated rubberBand">4</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" class="topbar-message" (click)="app.onTopbarSubItemClick($event)">
                            <img alt="avatar 1" src="assets/layout/images/avatar_man.png" width="35">
                            <span>Give me a call</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #notifications [ngClass]="{'menuitem-active':app.activeTopbarItem === notifications}">
                <a href="#" (click)="app.onTopbarItemClick($event, notifications)">
                    <i class="topbar-icon pi pi-fw pi-bell"></i>
                    <span class="topbar-item-name">{{'label.notification' | translate}}</span>
                    <span class="topbar-badge animated rubberBand">2</span>
                </a>
                <ul>
                    <li role="menuitem">
                        <a href="#" (click)="app.onTopbarSubItemClick($event)">
                            <i class="pi pi-fw pi-sliders-h"></i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <app-menu></app-menu>
    <app-change-password *ngIf="showChangePasword" [display]="showChangePasword" (displayChange)="onChangePaswordClose($event)"></app-change-password>
</div>
