:host ::ng-deep .multiple-belge-tipi .ui-fileupload-row > div {
  visibility: hidden;
  max-height: 0px;
  padding: 0px;
}

:host ::ng-deep .multiple-belge-tipi .ui-fileupload-files {
  display: inline;
}

:host ::ng-deep .multiple-belge-tipi .ui-fileupload-files > .ng-star-inserted {
  height: 0px;
}

:host ::ng-deep .multiple-belge-tipi .ui-fileupload-content {
  padding: 0px;
}
