<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-1">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-paper.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">40</span>
                <span class="overview-box-name">{{'label.yeni.satis' | translate}}</span>
                <span class="overview-box-rate">+10%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-2">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-mail.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">250.000 TL</span>
                <span class="overview-box-name">{{'label.guncel.ciro.ay' | translate}}</span>
                <span class="overview-box-rate">+34%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-3">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-location.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">10.000 TL</span>
                <span class="overview-box-name">{{'label.guncel.ciro.gun' | translate}}</span>
                <span class="overview-box-rate">-15%</span>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-4">
            <div class="ui-g-4 overview-box-icon">
                <img src="assets/layout/images/icon-orders.png">
            </div>
            <div class="ui-g-8">
                <span class="overview-box-count">15</span>
                <span class="overview-box-name">{{'label.yeni.siparis' | translate}}</span>
                <span class="overview-box-rate">+5%</span>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-4 ui-fluid activity-feed">
        <p-panel header="{{'label.gunluk.aktivite' | translate}}"  [style]="{minHeight: '360px'}">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">
                    <span>{{'label.bayi' | translate}}</span>
                    <div class="knob income">0 TL</div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span>{{'label.perakende' | translate}}</span>
                    <div class="knob tax">0 TL</div>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <span>{{'label.eticaret' | translate}}</span>
                    <div class="knob invoice">0 TL</div>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-fluid contact-form">
        <p-panel header="{{'label.bize.sorun' | translate}}" [style]="{minHeight: '360px'}">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText placeholder="{{'label.ad' | translate}}" >
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText placeholder="{{'label.email' | translate}}">
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText placeholder="{{'label.konu' | translate}}">
                </div>
                <div class="ui-g-12">
                    <textarea rows="4" type="text" pInputTextarea placeholder="{{'label.mesaj' | translate}}"></textarea>
                </div>
                <div class="ui-g-12">
                    <button type="button" label="Send" icon="fa fa-send" pButton></button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-4 contacts">
        <p-panel header="{{'label.iletisim' | translate}}" [style]="{minHeight: '360px'}">
            <ul>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar_man.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">Yunus ALTUN</span>
                        <span class="location">yunus@aymeryapi.com.tr</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="fa fa-paper-plane-o"></i>
                        <i class="fa fa-phone"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar_girl.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">Elif TAŞDELEN</span>
                        <span class="location">elif@aymeryapi.com.tr</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="fa fa-paper-plane-o"></i>
                        <i class="fa fa-phone"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar_man.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">Erhan ÜNAL</span>
                        <span class="location">erhan@aymeryapi.com.tr</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="fa fa-paper-plane-o"></i>
                        <i class="fa fa-phone"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar_man.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">Celil GÜLAĞACI</span>
                        <span class="location">celil@aymeryapi.com.tr</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="fa fa-paper-plane-o"></i>
                        <i class="fa fa-phone"></i>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="assets/layout/images/avatar_girl.png" library="verona-layout" width="45"/>
                    <div class="contact-info">
                        <span class="name">Serap SARAÇOĞLU</span>
                        <span class="location">serap@aymeryapi.com.tr</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">online</span>
                        <i class="fa fa-paper-plane-o"></i>
                        <i class="fa fa-phone"></i>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>


    <div class="ui-g-12 ui-lg-4">
        <div class="card timeline ui-fluid">
            <div class="ui-g">
                <div class="ui-g-3">
                    <span class="event-time">just now</span>
                    <i class="fa fa-map-signs" style="color:#f7cb00"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#f7cb00">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png" library="verona-layout" width="100"/>
                    </div>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">12h ago</span>
                    <i class="fa fa-star" style="color:#985edb"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#985edb">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">15h ago</span>
                    <i class="fa fa-comment" style="color:#9fd037"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#9fd037">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">2d ago</span>
                    <i class="fa fa-map" style="color:#f7cb00"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#f7cb00">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png">
                    </div>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">1w ago</span>
                    <i class="fa fa-heart" style="color:#ff9c59"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#ff9c59">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>

                <div class="ui-g-3">
                    <span class="event-time">2w ago</span>
                    <i class="fa fa-history" style="color:#9fd037"></i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#9fd037">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>
                <div class="ui-g-12">
                    <button pButton type="button" icon="fa fa-refresh" label="Refresh"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-8">
        <p-panel header="{{'label.takvim' | translate}}" [style]="{'height':'100%'}">
            <p-fullCalendar [options]="fullcalendarOptions" ></p-fullCalendar>
        </p-panel>
    </div>




</div>
