<form [formGroup]="entityForm">
    <p-dialog header="{{'label.change.password' | translate}}" [(visible)]="display" [style]="{width: '25vw'}"
              (onHide)="onClose()" [baseZIndex]="10000">

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input id="old_password" formControlName="old_password" type="password" autocomplete="off"
                           placeholder="{{'label.old.password' | translate}}" pPassword>
                </div>
                <app-validation-message
                    [validationControl]="entityForm.controls['old_password']"></app-validation-message>
            </div>

            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input id="new_password" formControlName="new_password" type="password" autocomplete="off"
                           placeholder="{{'label.new.password' | translate}}" pPassword>
                </div>
                <app-validation-message
                    [validationControl]="entityForm.controls['new_password']"></app-validation-message>
            </div>

            <div class="p-col-12 p-md-12">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input id="new_password_again" formControlName="new_password_again" type="password"
                           autocomplete="off" placeholder="{{'label.new.password.again' | translate}}" pPassword></div>
                <app-validation-message
                    [validationControl]="entityForm.controls['new_password_again']"></app-validation-message>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" [disabled]="!entityForm.valid" (click)="onSubmit()"
                      label="{{'btn.guncelle' | translate}}" class="p-button-raised"></p-button>
        </ng-template>
    </p-dialog>
</form>

