<form [formGroup]="entityForm">
    <p-toast></p-toast>
    <div class="login-body">
        <div class="login-panel p-fluid">
            <div class="p-grid">
                <div class="p-col-12 logo-container">
                    <img src="assets/layout/images/logo_1.png" style="width: 150px" alt="Şirketim Cepte"/>
                    <h1>{{'label.please.login' | translate}}</h1>
                    <h2>{{'label.wellcome' | translate}}</h2>
                </div>
                <div class="p-grid" *ngIf="!tokenStorage.isAuthenticated()">
                    <div class="p-col-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                            <span class="p-float-label">
                            <input id="username" formControlName="username" type="text" autocomplete="off" pInputText>
                            <label for="username">{{'label.kullanici.adi' | translate}}</label>
                        </span>
                        </div>
                        <app-validation-message
                            [validationControl]="entityForm.controls['username']"></app-validation-message>
                    </div>
                    <div class="p-col-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <span class="p-float-label">
                            <input id="password" formControlName="password" type="password" autocomplete="off"
                                   pPassword>
                            <label for="password">{{'label.sifre' | translate}}</label>
                        </span>
                        </div>
                        <app-validation-message
                            [validationControl]="entityForm.controls['password']"></app-validation-message>
                    </div>
                    <div class="p-col-12">
                        <button type="button" pButton label="{{'btn.giris.yap' | translate}}"
                                [disabled]="!entityForm.valid"
                                (click)="onSubmit()" class="p-button-raised"></button>
                    </div>
                    <div class="p-col-12">
                        <button type="button" pButton label="{{'btn.kayit.ol' | translate}}" (click)="kayitOl()"
                                class="p-button-raised p-button-secondary"></button>
                    </div>
                </div>

                <div class="p-grid" *ngIf="tokenStorage.isAuthenticated()">
                    <div class="p-col-12">
                        <h5> {{'label.choose.company' | translate}} </h5>
                        <p-listbox [options]="tokenStorage.getCompanies()" (onClick)="onSelectCompany($event)"
                                   optionLabel="label" optionValue="value">
                            <ng-template let-comp pTemplate="item">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-th-large"></i></span>
                                    <div>{{comp.label}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
