<form [formGroup]="sorguForm">
    <div class="card">
        <h3>{{'menu.cari.sorgulama' | translate}}</h3>
        <br/>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>
                    <span class="p-float-label">
                        <input id="cariKodu" type="text" pInputText formControlName="cariKodu">
                        <label for="cariKodu">{{'label.cari.kodu' | translate}}</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>
                    <span class="p-float-label">
                        <input id="cariAdi" type="text" pInputText formControlName="cariAdi">
                        <label for="cariAdi">{{'label.cari.adi' | translate}}</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-md-4">
                <button pButton type="button" label="{{'btn.sorgula' | translate}}"
                        (click)="sorgula()"></button>
            </div>
        </div>
    </div>

    <app-common-lazy-dt #laztTable [cols]="cols" (loadLazyEvent)="loadLazy($event)"
                        [loading]="loading" [data]="resultList"
                        [totalRecords]="totalRecords"></app-common-lazy-dt>

</form>
