 <div class="ui-g dashboard">
        <div class="ui-g-12 ui-md-6" *ngIf="cariKart">
            <div class="card card-w-title">
                <h1>{{'label.cari.bilgileri' | translate}}</h1>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label style="font-weight: bold"> {{'label.cari.tipi' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariTipi}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                         <label style="font-weight: bold">{{'label.cari.kodu' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariKodu}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                         <label style="font-weight: bold">{{'label.cari.adi' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariAdi}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                         <label style="font-weight: bold">{{'label.cari.adresi' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariAdres}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                         <label style="font-weight: bold">{{'label.cari.tel' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariTel}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                         <label style="font-weight: bold">{{'label.cari.mail' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        {{cariKart.cariMail}}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6" *ngIf="fatura">
            <div class="card card-w-title">
                <h1>{{'label.fatura.bilgileri' | translate}}</h1>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label style="font-weight: bold">{{'label.fatura.no' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{fatura.faturaNo}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label style="font-weight: bold">{{'label.fatura.tarihi' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{fatura.faturaTarihi | dateFormat}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label style="font-weight: bold">{{'label.fatura.yonu' | translate}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{fatura.faturaYonu}}
                    </div>

                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12" *ngIf="faturaDetayList">
            <div class="card">
                <p-table #dt dataKey="id" [columns]="fatDetCols" [value]="faturaDetayList" [responsive]="true"
                         [rows]="100" [totalRecords]="totalRecords" [loading]="loading">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" [ngSwitch]="col.type">
                                <div *ngSwitchCase="ColumnType.PARA">
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field] | paraFormat}}
                                </div>
                                <div *ngSwitchCase="ColumnType.DATE">
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field] | dateFormat}}
                                </div>
                                <div *ngSwitchDefault>
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field]}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>


            </div>
        </div>

        <div class="ui-g-12 ui-lg-8 contacts"></div>

        <div class="ui-g-12 ui-lg-4 contacts" *ngIf="faturaKalemList">
            <p-panel header="{{'label.fatura.kalem' | translate}}">
                <ul>
                    <li class="clearfix" *ngFor="let fkRow of faturaKalemList" [ngSwitch]="fkRow.satirTipi">
                        <div class="contact-info" style="font-weight: bold;">
                            <span class="name">{{fkRow.satirAciklama}}</span>
                        </div>
                        <div class="contact-detail" *ngSwitchCase="'K'">
                            <span class="name">{{fkRow.tutar | paraFormat}} (% {{fkRow.kdvOrani}})</span>
                        </div>
                        <div class="contact-detail" *ngSwitchDefault>
                            <span class="name">{{fkRow.tutar | paraFormat}}</span>
                        </div>
                    </li>
                </ul>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-4">
            <button pButton type="button" label="{{'btn.geri.don' | translate}}"
                    (click)="this.location.back();"></button>
        </div>
    </div>
