:host ::ng-deep #kayitlariSecSpinner button.ui-spinner-button {
  display: none;
}

:host ::ng-deep #kayitlariSecSpinner input.ui-spinner-input {
  height: 28px;
  padding-right: 0;
  margin-right: 28px;
}

:host ::ng-deep #kayitlariSecSpinner input.ui-inputtext:enabled:hover:not(.ui-state-error),
:host ::ng-deep #kayitlariSecSpinner input.ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-right: inherit;
}

:host ::ng-deep p-accordion.no-margin .ui-accordion-content.ui-widget-content {
  padding: 0;
  margin: 0;
  border: 0;
}

.iptalLabel {
  text-decoration: line-through;
}

.redHighlightLabel {
  color: #f06;
}

.cursor-pointer {
  cursor: pointer;
}

.fa-user-orange:before {
  content: "\f007";
  color: #FFA500;
}

.fa-power-off-orange:before {
  content: "\f011";
  color: #FFA500;
}
