<p-accordion *ngIf="header; else content" class="no-margin {{class}}"
             (onOpen)="accordionEvent($event, true)"
             (onClose)="accordionEvent($event, false)">
    <p-accordionTab [header]="header | translate" [selected]="datatableOpen">
        <ng-content select=".accordion-header"></ng-content>
        <ng-template *ngIf="true; then content"></ng-template>
        <ng-content select=".accordion-footer"></ng-content>
    </p-accordionTab>
</p-accordion>

<ng-template #content>
    <p-panel [class]="header ? '' : class" [showHeader]="false" *ngIf="renderEmptyLabel()">
        {{emptyLabel | translate}}
    </p-panel>
    <p-table #dt
             *ngIf="!renderEmptyLabel()"
             id="dt_common"
             styleClass="p-datatable-sm p-datatable-striped"
             dataKey="id"
             [lazy]="true"
             (onLazyLoad)="loadLazy($event)"
             [totalRecords]="totalRecords"
             [class]="header ? '' : class"
             [responsive]="true"
             [paginator]="true"
             [sortField]="sortField"
             [loading]="loading"
             [columns]="cols"
             [value]="data"
             (onFilter)="filteredArray"
             [(selection)]="selectionArray"
             [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100,500,1000]"
             [rows]="20">

        <ng-template pTemplate="caption">
            <div style="width: 100%; display: table;">
                <div style="display:table-row;">
                    <div *ngIf="export"
                         style="display:table-cell;  text-align: left; vertical-align: middle; width: 32px;">
                        <p-button type="button" (click)="exportToExcel()" icon="pi pi-file-excel"
                                  class="p-button-success p-mr-2"
                                  pTooltip="{{'label.excel.disa.aktar' | translate}}"></p-button>
                    </div>

                    <div *ngIf="checkbox" style="display:table-cell; text-align:left; vertical-align:middle;">
                        <div class="ui-inputgroup">
                            <p-spinner id="kayitlariSecSpinner"
                                       style="width: 40px"
                                       [step]="1"
                                       [min]="0"
                                       [(max)]="data.length"
                                       [(ngModel)]="secilecekKayitSayisi"></p-spinner>
                            <button pButton type="button" icon="pi pi-check" class="ui-button-primary"
                                    (click)="kayitSec()"></button>
                            <button pButton type="button" icon="far pi-trash-alt" class="ui-button-secondary"
                                    (click)="kayitTemizle()"></button>
                        </div>
                    </div>

                    <div *ngIf="title" style="display:table-cell; text-align:left; vertical-align:middle;">
                        <h5 class="p-m-0"> {{ title | translate}}</h5>
                    </div>

                    <div style="display:table-cell;  text-align: right; vertical-align: middle;">
                        <div style="display: inline-flex;">
                            <button pButton pRipple *ngIf="add" label="{{ 'btn.ekle' | translate}}" icon="pi pi-plus" class="p-mr-2 p-d-inline-block" (click)="addAction()"></button>
                            <p-multiSelect [options]="columnOptions"
                                           [(ngModel)]="columns"
                                           optionLabel="label"
                                           [displaySelectedLabel]="false"
                                           [defaultLabel]="'btn.filter.columns' | translate">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="checkbox || radio" class="app-table-select-col app-table-overlay">
                    <p-tableHeaderCheckbox id="tableHeaderCheckbox" *ngIf="checkbox && !disabledCheckBox"
                                           (click)="kayitKilidiAc()"></p-tableHeaderCheckbox>
                </th>

                <ng-template ngFor let-col [ngForOf]="columns">

                    <th *ngIf="col.type === ColumnType.ENUM" [pSortableColumn]="col.field + '_ack'"
                        [hidden]="isHidden(col.field)">
                        {{col.label}}
                        <p-sortIcon [field]="col.field + '_ack'"></p-sortIcon>
                    </th>

                    <th *ngIf="col.type === ColumnType.TRANSLATE" [pSortableColumn]="col.field + '_trns'"
                        [hidden]="isHidden(col.field)">
                        {{col.label}}
                        <p-sortIcon [field]="col.field + '_trns'"></p-sortIcon>
                    </th>

                    <th *ngIf="col.type !== ColumnType.ENUM && col.type !== ColumnType.TRANSLATE"
                        [pSortableColumn]="col.field"
                        [hidden]="isHidden(col.field)">
                        {{col.label}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>

                </ng-template>

                <th class="app-table-icon-col app-table-overlay" *ngIf="islemler">
                    {{'label.islem' | translate}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">

            <tr id="row_{{index}}" [pSelectableRow]="rowData"
                [ngClass]="!!this.rowFunc && !isChecked(rowData) && this.rowFunc(rowData) ? this.rowClass : null">
                <td id="col_selection" *ngIf="checkbox || radio" class="app-table-overlay app-table-select-col">
                    <p-tableRadioButton id="{{'tableRadioButton' + index.toString()}}" [value]="rowData" *ngIf="radio"
                                        [disabled]="selectionArray == rowData || rowData.rowDisabled"></p-tableRadioButton>
                    <p-tableCheckbox id="{{'tableCheckbox' + index.toString()}}" [value]="rowData"
                                     *ngIf="checkbox"
                                     [disabled]="disabledCheckBox || secilenKayitSayisi || rowData.rowDisabled"
                                     [attr.checked]="isChecked(rowData)"></p-tableCheckbox>
                </td>

                <td id="col_{{col.field}}" *ngFor="let col of columns" [ngSwitch]="col.type"
                    [hidden]="isHidden(col.field)"
                    [ngClass]="{'app-table-number': col.type == ColumnType.NUMBER || col.type == ColumnType.DECIMAL || col.type == ColumnType.PARA || col.type == ColumnType.PARA_OBJECT, 'app-table-date' : col.type === ColumnType.DATE || col.type === ColumnType.DATE_TIME}">

                    <span class="p-column-title">{{col.label}}</span>

                    <span *ngSwitchCase="ColumnType.ENUM" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field + '_ack']}}
          </span>
                    <span *ngSwitchCase="ColumnType.TRANSLATE" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field + '_trns']}}
          </span>
                    <span *ngSwitchCase="ColumnType.DATE" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field] | dateFormat}}
          </span>
                    <span *ngSwitchCase="ColumnType.DATE_TIME" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field] | dateTimeFormat}}
          </span>
                    <span *ngSwitchCase="ColumnType.DECIMAL" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field] | number:'1.2-2'}}
          </span>
                    <span *ngSwitchCase="ColumnType.NUMBER" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field]}}
          </span>
                    <span *ngSwitchCase="ColumnType.PARA" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            {{rowData[col.field] | paraFormat}}
          </span>
                    <span *ngSwitchCase="ColumnType.PARA_OBJECT" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            <app-para-goruntule [para]="rowData[col.field]"></app-para-goruntule>
          </span>
                    <span *ngSwitchCase="ColumnType.HTML" [className]="call(col.classFn, rowData, col.field)"
                          [pTooltip]="call(col.toolTip, rowData, col.field)">
            <div [class]="col.class" [innerHTML]="rowData[col.field]"></div>
          </span>
                    <span *ngSwitchDefault [className]="call(col.classFn, rowData, col.field)">
            <div [class]="col.class" [pTooltip]="call(col.toolTip, rowData, col.field)">
              {{rowData[col.field]}}
            </div>
          </span>
                </td>

                <td id="col_islemler" *ngIf="islemler" class="app-table-islemler app-table-overlay">
                    <ng-template ngFor let-opt [ngForOf]="operations">
                        <button  [id]="opt.id + index.toString()"
                                 class="p-mr-2 p-button-info"
                                 *ngIf="!opt.route && (!opt.rendered || call(opt.rendered, rowData))" pButton pRipple
                                 [icon]="opt.class" pTooltip="{{opt.tooltip | translate}}" tooltipPosition="left"
                                 (click)="call(opt.event, rowData)">
                        </button>

                        <button  [id]="opt.id + index.toString()"
                                 class="p-mr-2 p-button-info"
                                 *ngIf="opt.route && (!opt.rendered || call(opt.rendered, rowData))" pButton pRipple
                                 [icon]="opt.class" pTooltip="{{opt.tooltip | translate}}" tooltipPosition="left"
                                 [routerLink]="(opt.routeBase ? opt.routeBase: '') + rowData.id + opt.route">
                        </button>
                    </ng-template>

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer" *ngIf="footer" let-columns>
            <tr>
                <td id="col_footer_selection" *ngIf="checkbox || radio"></td>
                <td id="col_footer_{{col.field}}" *ngFor="let col of columns" [ngSwitch]="col.type"
                    [hidden]="isHidden(col.field)" class="app-table-number">
          <span *ngSwitchCase="ColumnType.PARA">
            <span *ngIf="col.footer">{{call(col.footer) | paraFormat}}</span>
          </span>
                    <span *ngSwitchCase="ColumnType.PARA_OBJECT">
            <span *ngIf="col.footer">
              <div *ngIf="call(col.footer) as para">
                <app-para-goruntule [para]="para"></app-para-goruntule>
              </div>
            </span>
          </span>
                    <span *ngSwitchDefault>
            <span *ngIf="col.footer">{{call(col.footer)}}</span>
          </span>
                </td>
                <td id="col_footer_islemler" *ngIf="islemler"></td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div style="display:flex;">
                <div style="display: table-cell;width: 100%; text-align:left;">
                    <ng-content select=".summary"></ng-content>
                </div>
                <div style="width: 100%; text-align: right">
                    <div *ngIf="data">{{'label.kayit.sayisi' | translate}} {{totalRecords}}</div>
                    <div *ngIf="checkbox">{{'label.secilen.kayit.sayisi' | translate}} {{selectionArray.length}}</div>
                </div>
            </div>
        </ng-template>

    </p-table>
</ng-template>
