<form [formGroup]="sorguForm">

    <div class="ui-g ui-fluid">

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>{{'menu.fatura.sorgulama' | translate}}</h1>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-address-card-o"></i></span>
                            <span class="ui-float-label">
                             <input id="cariKodu" formControlName="cariKodu" type="text" pInputText
                                    style="border-left:0">
                            <label for="cariKodu">{{'label.cari.kodu' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="ui-float-label">
                             <input id="cariAdi" formControlName="cariAdi" type="text" pInputText style="border-left:0">
                            <label for="cariAdi">{{'label.cari.adi' | translate}}</label>
                        </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="ui-float-label">
                                <p-calendar id="faturaTarihi" showButtonBar="true" formControlName="faturaTarihi"
                                            selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                                <label for="faturaTarihi">{{'label.fatura.tarihi' | translate}}</label>
                           </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <button pButton type="button" label="{{'btn.sorgula' | translate}}"
                                (click)="sorgula()"></button>
                    </div>

                </div>
            </div>
        </div>

        <app-common-lazy-dt #laztTable [cols]="cols" (loadLazyEvent)="loadLazy($event)"
                            [loading]="loading" [data]="resultList" [operations]="operations"
                            [totalRecords]="totalRecords"></app-common-lazy-dt>

    </div>
</form>
