<form [formGroup]="sorguForm" *ngIf="sorguForm">
    <div class="ui-g ui-fluid">
        <app-common-dt [that]="this" (addEvent)="onAddNewCompany()" [title]="'menu.company.ayarlari'" [data]="resultList" [cols]="cols" [add]="true" [operations]="operations"></app-common-dt>
    </div>
</form>

<p-confirmDialog key="delete" header="{{'label.onay.sil' | translate}}" acceptLabel="{{'label.evet' | translate}}" rejectLabel="{{'label.hayir' | translate}}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<app-company-form *ngIf="showCompanyForm" [display]="showCompanyForm" [companyId]="selectedCompanyId" (displayChange)="onChangeShowCompanyFormClose($event)">  </app-company-form>
