<form [formGroup]="sorguForm">

    <div class="ui-g ui-fluid">

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>{{'menu.stok.sorgulama' | translate}}</h1>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-address-card-o"></i></span>
                            <span class="ui-float-label">
                             <input id="stokKodu" formControlName="stokKodu" type="text" pInputText
                                    style="border-left:0">
                            <label for="stokKodu">{{'label.stok.kodu' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="ui-float-label">
                             <input id="urunAdi" formControlName="urunAdi" type="text" pInputText style="border-left:0">
                            <label for="urunAdi">{{'label.urun.adi' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
                            <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>
                            <span class="ui-float-label">
                            <input id="stokAdedi" formControlName="stokAdedi" type="text" pInputText pKeyFilter="int"/>
                            <label for="stokAdedi">{{'label.stok.adedi' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <button pButton type="button" label="{{'btn.sorgula' | translate}}"
                                (click)="sorgula()"></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="card">
                <p-table #dt dataKey="id" [columns]="cols" [value]="resultList" [lazy]="true"
                         (onLazyLoad)="loadLazy($event)" [paginator]="true" [rowHover]="true" [responsive]="true"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[20,50,100]"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [rows]="20" [totalRecords]="totalRecords" [loading]="loading">
                    <ng-template pTemplate="caption">
                        {{'label.stok.kartı.listesi' | translate}}
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                                <div *ngSwitchCase="'urunFiyat'">
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field] | paraFormat}}
                                </div>
                                <div *ngSwitchDefault>
                                    <span class="ui-column-title">{{col.header}}</span>
                                    {{rowData[col.field]}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>
</form>
