<form [formGroup]="sorguForm">

    <div class="ui-g ui-fluid">

        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>{{'menu.stok.sorgulama' | translate}}</h1>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-address-card-o"></i></span>
                            <span class="ui-float-label">
                             <input id="stokKodu" formControlName="stokKodu" type="text" pInputText
                                    style="border-left:0">
                            <label for="stokKodu">{{'label.stok.kodu' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="ui-float-label">
                             <input id="urunAdi" formControlName="urunAdi" type="text" pInputText style="border-left:0">
                            <label for="urunAdi">{{'label.urun.adi' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
                            <span class="ui-inputgroup-addon"><i class="fa fa-cc-visa"></i></span>
                            <span class="ui-float-label">
                            <input id="stokAdedi" formControlName="stokAdedi" type="text" pInputText pKeyFilter="int"/>
                            <label for="stokAdedi">{{'label.stok.adedi' | translate}}</label>
                        </span>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-3">
                        <button pButton type="button" label="{{'btn.sorgula' | translate}}"
                                (click)="sorgula()"></button>

                    </div>

                </div>
            </div>
        </div>

        <app-common-lazy-dt #laztTable [cols]="cols" (loadLazyEvent)="loadLazy($event)"
                            [loading]="loading" [data]="resultList"
                            [totalRecords]="totalRecords"></app-common-lazy-dt>

    </div>
</form>
