<form [formGroup]="sorguForm">

    <div class="card">
        <h3>{{'menu.stok.sorgulama' | translate}}</h3>
        <br/>
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>
                    <span class="p-float-label">
                             <input id="stokKodu" formControlName="stokKodu" type="text" pInputText>
                            <label for="stokKodu">{{'label.stok.kodu' | translate}}</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-md-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
                    <span class="p-float-label">
                             <input id="urunAdi" formControlName="urunAdi" type="text" pInputText>
                            <label for="urunAdi">{{'label.urun.adi' | translate}}</label>
                    </span>
                </div>
            </div>

            <div class="p-col-12 p-md-3">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>
                    <span class="p-float-label">
                            <input id="stokAdedi" formControlName="stokAdedi" type="text" pInputText pKeyFilter="int"/>
                            <label for="stokAdedi">{{'label.stok.adedi' | translate}}</label>
                    </span>
                </div>
            </div>


            <div class="p-col-12 p-md-3">
                <button pButton type="button" label="{{'btn.sorgula' | translate}}"
                        (click)="sorgula()"></button>
            </div>
        </div>
    </div>


    <app-common-lazy-dt #laztTable [cols]="cols" (loadLazyEvent)="loadLazy($event)"
                        [loading]="loading" [data]="resultList"
                        [totalRecords]="totalRecords"></app-common-lazy-dt>

</form>
