<form [formGroup]="sorguForm" *ngIf="sorguForm">
    <div class="ui-g ui-fluid">
        <app-common-dt [that]="this" (addEvent)="onAddNewUser()" [title]="'menu.kullanici.ayarlari'" [data]="resultList" [cols]="cols" [add]="true" [operations]="operations"></app-common-dt>
    </div>
</form>

<p-confirmDialog key="delete" header="{{'label.onay.sil' | translate}}" acceptLabel="{{'label.evet' | translate}}" rejectLabel="{{'label.hayir' | translate}}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<app-user-form *ngIf="showUserForm" [display]="showUserForm" [userId]="selectedUserId" (displayChange)="onChangeShowUserFormClose($event)">  </app-user-form>
