.pointer {
    cursor: pointer;
}
.outofstock {
  font-weight: 700;
  color: #FF5252;
  text-decoration: line-through;
}

:host ::ng-deep .row-accessories {
  background-color: rgba(0,0,0,.15) !important;
}
