<form [formGroup]="entityForm">
    <p-toast></p-toast>
    <div class="login-body">
        <div class="login-panel p-fluid">
            <div class="p-grid">
                <div class="ui-g-12 logo-container">
                    <h1>{{'label.register' | translate}}</h1>
                </div>
                <div class="p-col-12">
                    <input id="name" formControlName="name" type="text" autocomplete="off" pInputText
                           placeholder="{{'label.ad' | translate}}">
                    <app-validation-message
                        [validationControl]="entityForm.controls['name']"></app-validation-message>
                </div>
                <div class="p-col-12">
                    <input id="surname" formControlName="surname" type="text" autocomplete="off" pInputText
                           placeholder="{{'label.soyad' | translate}}">
                    <app-validation-message
                        [validationControl]="entityForm.controls['surname']"></app-validation-message>
                </div>
                <div class="p-col-12">
                    <input id="email" formControlName="email" type="text" autocomplete="off" pInputText
                           placeholder="{{'label.email' | translate}}">
                    <app-validation-message
                        [validationControl]="entityForm.controls['email']"></app-validation-message>
                </div>
                <div class="p-col-12">
                    <input id="username" formControlName="username" type="text" autocomplete="off" pInputText
                           placeholder="{{'label.kullanici.adi' | translate}}">
                    <app-validation-message
                        [validationControl]="entityForm.controls['username']"></app-validation-message>
                </div>
                <div class="ui-g-12">
                    <input id="password" formControlName="password" type="password" autocomplete="off" pPassword
                           placeholder="{{'label.sifre' | translate}}">
                    <app-validation-message
                        [validationControl]="entityForm.controls['password']"></app-validation-message>
                </div>
                <div class="p-col-12">
                    <button type="button" pButton label="{{'btn.kaydet' | translate}}" [disabled]="!entityForm.valid" (click)="onSubmit()" class="p-button-success p-button-rounded p-button-raised"></button>
                </div>
                <div class="p-col-12">
                    <button type="button" pButton label="{{'btn.geri.don' | translate}}" (click)="appStore.location.back()" class="p-button-success p-button-rounded p-button-raised"></button>
                </div>
            </div>
        </div>
    </div>
</form>
