<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6" *ngIf="cariKart">
        <div class="card card-w-title">
            <h1>{{'label.cari.bilgileri' | translate}}</h1>

            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold"> {{'label.cari.tipi' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariTipi}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.cari.kodu' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariKodu}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.cari.adi' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariAdi}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.cari.adresi' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariAdres}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.cari.tel' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariTel}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.cari.mail' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    {{cariKart.cariMail}}
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6" *ngIf="fatura">
        <div class="card card-w-title">
            <h1>{{'label.fatura.bilgileri' | translate}}</h1>

            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.fatura.no' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{fatura.faturaNo}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.fatura.tarihi' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{fatura.faturaTarihi | dateFormat}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label style="font-weight: bold">{{'label.fatura.yonu' | translate}}</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{fatura.faturaYonu}}
                </div>

            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-12" *ngIf="faturaDetayList">
        <app-common-dt [data]="faturaDetayList" [cols]="fatDetCols"></app-common-dt>
    </div>

    <div class="ui-g-12 ui-lg-8 contacts"></div>

    <div class="ui-g-12 ui-lg-4 contacts" *ngIf="faturaKalemList">
        <p-panel header="{{'label.fatura.kalem' | translate}}">
            <ul>
                <li class="clearfix" *ngFor="let fkRow of faturaKalemList" [ngSwitch]="fkRow.satirTipi">
                    <div class="contact-info" style="font-weight: bold;">
                        <span class="name">{{fkRow.satirAciklama}}</span>
                    </div>
                    <div class="contact-detail" *ngSwitchCase="'K'">
                        <span class="name">{{fkRow.tutar | paraFormat}} (% {{fkRow.kdvOrani}})</span>
                    </div>
                    <div class="contact-detail" *ngSwitchDefault>
                        <span class="name">{{fkRow.tutar | paraFormat}}</span>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-md-4">
        <button pButton type="button" label="{{'btn.geri.don' | translate}}"
                (click)="this.location.back();"></button>
    </div>
</div>
